<!DOCTYPE HTML>


:
<head>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/mainpage.css') }}">
<style>

body {
    background-image : url("{{ url_for('static',filename='MotherBoardLinks.png') }}");
}
</style>
</head>

<body>
<h1> NS Lookup As a Service web Interface </h1>

Enter a domain name: 
<form action='/lookup' method="POST">
    <input type = 'text' name ='lookUpName'><br>
    <input type = 'submit' value="Lookup">
</form>

{% if lookup %}
    {{ lookup }}
{% endif %}
<br>
Previous Results: 
<br>

{% for item in looked.keys() %}
{{ item }}: {{looked[item]}} <br>
{% endfor %}

</body>
